<?xml version="1.0"?>

<launch>
  <!-- launch relevant scripts -->
  <node name = "lane_extract" pkg='igvc_perception' type='lane_depth.py'/>
  <node name = "depth_2_pcl" pkg='igvc_perception' type='depth2pcl.py'/>

  <!-- converts pcl to laserscan -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <remap from="cloud_in" to="/camera/depth/lane_only_pcl"/>
    <remap from="scan" to="/lane_scan" />
    <rosparam>
      target_frame: lidar
      transform_tolerance: 0.01
      min_height: -5.0
      max_height: 5.0
      
      angle_min: -1.25
      angle_max: 1.25
      angle_increment: 0.0034770513884723186
      scan_time: 0.0
      range_min: 0.20000000298023224
      range_max: 8.0
      use_inf: true
    </rosparam>
  </node>

  <!-- merge lasescans -->
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger">
    <param name="destination_frame" value="base_link"/>
    <param name="scan_destination_topic" value="/scan"/>
    <param name="laserscan_topics" value ="/obs_scan /lane_scan" />
  </node>
</launch>